header{
  color:crimson
  10px
}

body{
  background-color: antiquewhite;
}

h1{
  color: crimson;
  
}

h2{
  color: crimson;
}

p{
  color:crimson
}

h4{
  color:crimson
}

h5{
  color: crimson
}

article{
  padding: 8px;
}


#articleOne{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border: 3px dotted blue
}

#articleTwo{
  font-family: cursive;
  border: 10px solid green
}

#articleThree{
  font-family: 'Courier New', Courier, monospace;
  border: 4px dashed turquoise
}

#articleFour{
  font-family: fantasy;
  border: 7px ridge yellow
}
